version: 2
registries:
  npm-registry-registry-npmjs-org:
    type: npm-registry
    url: https://registry.npmjs.org
    token: "${{secrets.NPM_REGISTRY_REGISTRY_NPMJS_ORG_TOKEN}}"

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "00:00"
    timezone: Etc/UCT
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: husky
    versions:
    - ">=5.0.0"
  - dependency-name: cypress
    versions:
    - 6.7.0
    - 6.9.0
    - 7.1.0
  - dependency-name: contentful-management
    versions:
    - 7.14.1
    - 7.15.2
    - 7.16.0
  - dependency-name: typescript
    versions:
    - 4.2.2
    - 4.2.3
  - dependency-name: "@testing-library/dom"
    versions:
    - 7.30.2
  - dependency-name: rollup
    versions:
    - 2.41.0
    - 2.41.5
    - 2.42.4
    - 2.43.1
  commit-message:
    prefix: chore
  registries:
  - npm-registry-registry-npmjs-org
