export CONTENTFUL_CMA_TOKEN=CFPAT-fzgk8A0IrTPeMQZy9s50Y3tCVEWT8UEDEElRSiApJ_g
export CONTENTFUL_SPACE_ID=j5hkb3mlyszi
export CONTENTFUL_APP=https://app.contentful.com
export CONTENTFUL_LOCAL_TESTING_ENV=test
export TEST_LOCAL_SDK=true
