/node_modules
/.cache
/.idea
/mochawesome-report
/.DS_Store
/dist
!/dist/cf-extension.css
!/dist/README.md
!/dist/WARNING.txt
/test-reports
/test/cypress/reports
/test/cypress/videos
/test/cypress/screenshots
cypress.env.json
.env
.env.local
.envrc
