/node_modules
/.cache
/.idea
/mochawesome-report
/.DS_Store
/dist/cf-extension-api.js
/dist/cf-extension-api.js.map
typings.d.ts
/test/cypress/reports
/test/cypress/videos
/test/cypress/screenshots
cypress.env.json
.env
.env.local
.envrc
