body {
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

input[type="text"], input[type="email"], input[type="number"] {
  border: 1px solid #969fa6;
  box-sizing: border-box;
  width: 100%;
  height: 33px;
  padding: 6px;
  border-radius: 3px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
  background-color: #fff;
  border-color: #1683d0;
  box-shadow: 0 0 3px #a4c7f1 inset;
  outline: none;
}

input[type="submit"] {
  padding: 0.4rem 0.8rem;
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #3c80cf;
  border-radius: 2px;
  line-height: 18px;
  color: #fff;
  background: linear-gradient(to top, #3c80cf, #5b9fef);
  transition-duration: 0.1s;
  transition-property: all;
  background-size: 100% 200%;
  margin-top: 10px;
}

input[type="submit"]:hover {
  border-color: rgb(48, 114, 190);
  background: linear-gradient(to top, #3c80cf, #5b9fef);
  background-position: 0px 100%;
}

input[type="submit"].disabled {
  cursor: default;
  opacity: 0.4;
}
