/* Contentful Widgets */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
@font-face {
  font-family: "Avenir Next W01";
  src: url("https://static.contentful.com/app/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("https://static.contentful.com/app/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next W01";
  src: url("https://static.contentful.com/app/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"), url("https://static.contentful.com/app/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next W01";
  src: url("https://static.contentful.com/app/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"), url("https://static.contentful.com/app/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
a {
  color: #4a90e2;
  cursor: pointer;
}
.cf-text-dimmed {
  color: #808080;
}
:-moz-ui-invalid {
  box-shadow: none;
}
body {
  font-family: "Avenir Next W01", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 18px;
  color: #2d2f31;
  margin: 0;
  padding: 0;
}
button,
input[type="submit"] {
  line-height: inherit;
  font-family: inherit;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: 0;
}
table {
  border-collapse: separate;
}
a {
  color: #1683d0;
  text-decoration: none;
}
a:link {
  color: #1683d0;
  text-decoration: none;
}
a:hover {
  color: #0c2c52;
}
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a3039;
  line-height: 1em;
  font-weight: bold;
  margin: 18px 0 8px;
}
h1 {
  font-size: 2.1em;
  margin-bottom: 0.3em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
hr {
  height: 1px;
  background-color: #f5f5f5;
  margin: 30px 0;
  border: none;
}
li {
  list-style-type: none;
  margin-bottom: 5px;
}
p,
blockquote {
  margin-bottom: 10px;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
blockquote {
  border-left: 4px solid #f5f5f5;
  padding-left: 20px;
  margin-top: 10px;
  font-style: italic;
}
b,
strong {
  color: #2d2f31;
  font-weight: bold;
}
@-moz-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.cf-btn-primary {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2px;
  line-height: 18px;
  color: #fff;
  background: linear-gradient(to top, #3c80cf, #5b9fef);
  background-size: 100% 200%;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  border-color: #3c80cf;
}
.cf-btn-primary:hover {
  background-position: 0 100%;
}
.cf-btn-primary.active,
.cf-btn-primary:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
}
.cf-btn-primary:link,
a.cf-btn-primary:hover,
a.cf-btn-primary:link,
a.cf-btn-primary:visited {
  color: #fff;
}
.cf-btn-primary,
.cf-btn-primary:hover,
.cf-btn-primary:active {
  outline: 0;
}
.cf-btn-primary:disabled,
.cf-btn-primary[aria-disabled=true] {
  opacity: 0.4;
  cursor: default;
  background: linear-gradient(to top, #3c80cf, #5b9fef);
  box-shadow: none;
}
.cf-btn-primary > * {
  display: inline-block;
}
.cf-btn-primary:after {
  content: '';
  opacity: 0;
  border: 0;
  width: 0;
  position: relative;
  top: -1px;
  vertical-align: middle;
  transition: width 0.2s linear, margin 0.2s linear;
  display: inline-block;
}
.cf-btn-primary.cf-is-loading:disabled {
  opacity: 1;
}
.cf-btn-primary.cf-is-loading:after {
  transition: width 0.2s linear, margin 0.2s linear, opacity 0.5s ease-in;
  opacity: 1;
  width: 10px;
  height: 10px;
  animation: fa-spin 2s infinite linear;
  border-radius: 50%;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-top: 2px solid rgba(255,255,255,0.6);
  border-right: 2px solid rgba(255,255,255,0.6);
  margin-left: 5px;
}
.cf-btn-primary:hover,
.cf-btn-primary.active {
  border-color: #3072be;
}
.cf-btn-secondary {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2px;
  line-height: 18px;
  color: #536171;
  background: #e5ebed;
  background-size: 100% 200%;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  border-color: #c3cfd5;
}
.cf-btn-secondary:hover {
  background-position: 0 100%;
}
.cf-btn-secondary.active,
.cf-btn-secondary:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
}
.cf-btn-secondary:link,
a.cf-btn-secondary:hover,
a.cf-btn-secondary:link,
a.cf-btn-secondary:visited {
  color: #536171;
}
.cf-btn-secondary,
.cf-btn-secondary:hover,
.cf-btn-secondary:active {
  outline: 0;
}
.cf-btn-secondary:disabled,
.cf-btn-secondary[aria-disabled=true] {
  opacity: 0.4;
  cursor: default;
  background: #e5ebed;
  box-shadow: none;
}
.cf-btn-secondary > * {
  display: inline-block;
}
.cf-btn-secondary:after {
  content: '';
  opacity: 0;
  border: 0;
  width: 0;
  position: relative;
  top: -1px;
  vertical-align: middle;
  transition: width 0.2s linear, margin 0.2s linear;
  display: inline-block;
}
.cf-btn-secondary.cf-is-loading:disabled {
  opacity: 1;
}
.cf-btn-secondary.cf-is-loading:after {
  transition: width 0.2s linear, margin 0.2s linear, opacity 0.5s ease-in;
  opacity: 1;
  width: 10px;
  height: 10px;
  animation: fa-spin 2s infinite linear;
  border-radius: 50%;
  border-bottom: 2px solid #536171;
  border-left: 2px solid #536171;
  border-top: 2px solid rgba(135,150,167,0.6);
  border-right: 2px solid rgba(135,150,167,0.6);
  margin-left: 5px;
}
.cf-btn-secondary:hover,
.cf-btn-secondary.active {
  background-color: #d3dce0;
  border-color: #b4c3ca;
}
.cf-btn-secondary > cf-icon[name="plus"] circle {
  fill: #536171;
}
.cf-btn-secondary > cf-icon[name="plus"] path {
  stroke: #e5ebed;
}
.cf-btn-primary.cf-block,
.cf-btn-secondary.cf-block {
  display: block;
  width: 100%;
  position: relative;
}
.cf-btn-primary.cf-block:after,
.cf-btn-secondary.cf-block:after {
  position: absolute;
}
.cf-btn-primary.cf-block.cf-is-loading:after,
.cf-btn-secondary.cf-block.cf-is-loading:after {
  transition: opacity 0.2s linear;
  top: 11px;
}
.cf-form-field {
  margin-bottom: 1.928571428571429em;
}
.cf-form-field > label {
  display: block;
  margin-bottom: 0.642857142857143em;
}
.cf-form-input {
  font-family: "Avenir Next W01", Helvetica, sans-serif;
  font-size: inherit;
  border: 1px solid #969fa6;
  border-radius: 3px 3px 3px 3px;
  box-sizing: border-box;
  height: 2.3em;
  padding: 0 0.5em;
  transition: border 0.3s;
  max-width: 100%;
}
.cf-form-input:focus {
  background-color: #fff;
  border-width: 1px;
  border-color: #2ba9e9;
  outline: none;
}
.cf-form-input[readonly],
.cf-form-input[disabled],
.cf-form-input:disabled {
  color: #7f7f7f;
  background-color: #ebebeb;
  border: 1px solid #9b9b9b;
  box-shadow: none;
  transition: none;
}
.cf-form-input[aria-invalid="true"],
.cf-form-input.cf-has-error {
  border-color: #df3537;
}
.cf-form-input[type="number"] {
  padding-right: 0;
}
textarea.cf-form-input {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.3;
  height: auto;
}
textarea.cf-form-input,
.cf-form-input[type="url"],
.cf-form-input[type="email"],
.cf-form-input[type="text"],
.cf-form-input[type="password"] {
  width: 100%;
}
select.cf-form-input {
  background: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("https://static.contentful.com/app/svg/dd-arrow-down.svg"), none;
  background-position: center right 0.8em;
  background-repeat: no-repeat, repeat;
  background-size: 0.7em, 100%;
  padding-left: 1ex;
  padding-right: 8ex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
select.cf-form-input::-ms-expand {
  display: none;
}
select.cf-form-input:hover:not(:disabled) {
  background-image: url("https://static.contentful.com/app/svg/dd-arrow-down.svg"), linear-gradient(to bottom, #fff, #f9f9f9);
}
select.cf-form-input:focus {
  border: 1px solid #9b9b9b;
}
select.cf-form-input:disabled {
  background-image: url("https://static.contentful.com/app/svg/dd-arrow-down-disabled.svg");
  cursor: not-allowed;
}
.cf-form-hint {
  margin-top: 0.642857142857143em;
  color: #808080;
  font-size: 0.928571428571429em;
}
.cf-field-error {
  margin-top: 0.642857142857143em;
  color: #df3537;
}
.cf-form-option {
  margin-bottom: 1.285714285714286em;
  display: flex;
}
.cf-form-option:last-child {
  margin-bottom: 0;
}
.cf-form-option > input[type="checkbox"],
.cf-form-option > input[type="radio"] {
  align-self: flex-start;
  flex-shrink: 0;
  margin: 1px 0.5em 0 0;
}
.cf-form-option > label {
  display: block;
  cursor: pointer;
}
.cf-form-label p {
  font-size: 0.928571428571429em;
  margin: 0;
}
.cf-form-label label {
  line-height: 1.928571428571429em;
  margin-top: -0.642857142857143em;
  display: inline-block;
  cursor: pointer;
}
.cf-form-option > input[type="checkbox"]:disabled + label {
  color: #808080;
}
.cf-form-horizontal {
  display: flex;
  flex-wrap: wrap;
}
.cf-form-horizontal .cf-form-option {
  margin-right: 2.571428571428572em;
}
.cf-form-horizontal .cf-form-option:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=cf-widget-api.css.map */