version: 2.1

orbs:
  vault: contentful/vault@1

jobs:
  unit:
    docker:
      - image: cimg/node:24.11.0
        environment:
          ## this enables colors in the output
          TERM: xterm
    steps:
      - checkout
      - run:
          name: Npm Install
          command: npm ci
      - run:
          name: Run linter
          command: npm run lint
      - run:
          name: Run test
          command: npm test
      - run:
          name: Building
          command: npm run build
      - run:
          name: Sizing
          command: npm run size
      - store_test_results:
          path: test/unit/reports


workflows:
  # run on every commit
  commit:
    jobs:
      - unit:
          context:
            - vault
