// COLORS
$colors = {
  text-dark:         #2A3039,
  text-mid:          #536171,
  text-light:        #8091A5,
  text-lightest:     #A9B9C0,

  element-darkest:   #B4C3CA,
  element-dark:      #C3CFD5,
  element-mid:       #D3DCE0,
  element-light:     #E5EBED,
  element-lightest:  #F7F9FA,

  contrast-dark:     #0C141C,
  contrast-mid:      #192532,
  contrast-light:    #263545,

  blue-darkest:      #3072BE,
  blue-dark:         #3C80CF,
  blue-mid:          #4A90E2,
  blue-light:        #5B9FEF,

  green-darkest:     #0BAA75,
  green-dark:        #0EB87F,
  green-mid:         #19CD91,
  green-light:       #14D997,

  red-darkest:       #CD3F39,
  red-dark:          #D9453F,
  red-mid:           #E34E48,
  red-light:         #F05751,

  orange-dark:       #db8500,
  orange-mid:        #ea9005,
  orange-light:      #fba012,

  // These colors are deprectated and should be updated
  dark-gray:     #2D2F31,
  gray:          #A2A9B1,
  light-gray:    #D6DCE4,
  white:         #F6F8FA,

  blue:          hsl(200,  81%, 54%)  // #28A8E9
  dark-blue:     #21304A
  light-blue:    #A7E2FF,
  lightest-blue: hsl(201, 100%, 95%)  // #E8F7FF

  green:         hsl(160,  80%, 44%)  // #16C98D
  shadow-green:  #90C2AC,
  aero-blue:     #B9E9D4,

  red:           #F05650,
  yellow:        #F6E8B0,
}
