/**
 * CFNext Forms
 *
 * Build simple forms with labels, inputs, errors and option groups.
 *
 * Styleguide 3.0
 */

/*
Inputs and labels

Markup:
<div class="cfnext-form__field">
  <label>Name</label>
  <input type="text" value="Name" class="cfnext-form__input">
</div>
<div class="cfnext-form__field">
  <label>Longer Name</label>
  <input type="text" value="Longer Name" class="cfnext-form__input--full-size">
</div>
<div class="cfnext-form__field">
  <label>Bio</label>
  <textarea class="cfnext-form__input"></textarea>
</div>
<div class="cfnext-form__field">
  <label>Bio</label>
  <textarea class="cfnext-form__input--full-size"></textarea>
</div>

Styleguide 3.1
*/

.cfnext-form__field
  margin-bottom: $rhythm(1.5)
  > label
    display: block
    margin-bottom: $rhythm(0.5)

$cfnext-form-input()
  $sans-font()
  font-size: inherit
  border: 1px solid $metallic-gray
  border-radius: 3px 3px 3px 3px
  box-sizing: border-box
  height: 2.3em
  padding: 0 0.5em
  transition: border 0.3s
  &:focus
    background-color: white
    border-width: 1px
    border-color: $colors.blue
    outline: none
  &[readonly], &[disabled], &:disabled
    color: $gray-medium
    background-color: $gray-lighter
    border: 1px solid $gray
    box-shadow: none
    transition: none
  &[aria-invalid="true"]
    border-color: $red
  &[type="number"]
    padding-right: 0
  textarea&
    padding-top: 0.5em
    padding-bottom: 0.5em
    line-height: 1.3
    height: auto

.cfnext-form__input
  $cfnext-form-input()
  max-width: 100%;

.cfnext-form__input--short
  $cfnext-form-input()
  width: 10ex;

.cfnext-form__input--full-size
  $cfnext-form-input()
  width: 100%;


/*
Hints
 
Markup:
<div class="cfnext-form__field">
  <label>First Name</label>
  <input type="text" class="cfnext-form__input">
  <div class="cfnext-form__hint">
    You have to provide your name here
  </div>
</div>
<div class="cfnext-form__field">
  <label>Last Name
    <span class="cfnext-form__label-hint">hint after the label</span>
  </label>
  <input type="text" class="cfnext-form__input">
</div>

Styleguide 3.2
*/

.cfnext-form__hint
  margin-top: $rhythm(0.5)
  color: $text-dimmed
  // font-size: $small-font-size

.cfnext-form__label-hint
  margin-left: 1ex
  color: $text-dimmed
  font-size: $small-font-size

  &.x--invalid
    color: $red

/*

Errors

Markup:
<div class="cfnext-form__field">
  <label>Name</label>
  <input type="text" aria-invalid="true" class="cfnext-form__input">
  <div class="cfnext-form__field-error">Something went wrong!</div>
</div>
<div class="cfnext-form__field">
  <label>Name</label>
  <input type="text" aria-invalid="true" class="cfnext-form__input">
  <div class="cfnext-form__field-suffix-error">Something went wrong!</div>
</div>
<div class="cfnext-form__field">
  <label>Name</label>
  <input type="text" aria-invalid="true" class="cfnext-form__input">
  <ul class="cfnext-form__field-errors">
    <li>This went wrong</li>
    <li>And that</li>
  </ul>
</div>
<div class="cfnext-form__field">
  <label>
    Name
    <span class="cfnext-form__label-hint x--invalid">required</span>
  </label>
  <input type="text" aria-invalid="true" class="cfnext-form__input">
</div>


Styleguide 3.3

*/
 
.cfnext-form__field-error,
.cfnext-form__field-errors
  margin-top: $rhythm(0.5)
  color: $red

.cfnext-form__field-errors > li
  margin-bottom: $rhythm(0.5)

.cfnext-form__field-suffix-error
  margin-left: 1.5em
  color: $red

/*
Option set

Markup:
<fieldset class="cfnext-form__fieldset">
  <legend>A few options</legend>
  <div class="cfnext-form-option">
    <input type="checkbox" id="option-a">
    <label for="option-a">Check this</label>
  </div>
  <div class="cfnext-form-option">
    <input type="checkbox" id="option-b">
    <div class="cfnext-form-option__desc">
      <label for="option-b">Or check that</label>
      <p>You also can check both</p>
      <p class="text-dimmed">This is a hint</p>
    </div>
  </div>
</fieldset>


Styleguide 3.4

*/

$cfnext-form__fieldset()
  legend
    width: 100%
    flex-shrink: 0
    margin-bottom: $rhythm(1)

.cfnext-form__fieldset
  $cfnext-form__fieldset()

.cfnext-form-option
  margin-bottom: $rhythm(1)
  display: flex

  .cfnext-form-option:last-child
    margin-bottom: 0

  > input[type="checkbox"],
  > input[type="radio"]
    align-self: flex-start
    flex-shrink: 0
    margin: 1px 0.5em 0 0

  > label
    display: block
    cursor: pointer

.cfnext-form-option__desc p
  font-size: $small-font-size
  margin: 0

.cfnext-form-option__desc label
  // Larger line height increases clickable area
  line-height:     $rhythm(1.5)
  // Negative margin makes sure the larger line height does not
  // influence the layout
  margin-top:    - $rhythm(0.5)
  display: inline-block;
  cursor: pointer

/*
Disabled options

Markup:
<div class="cfnext-form-option">
  <input type="checkbox" id="option-d" disabled>
  <div class="cfnext-form-option__desc">
    <label for="option-d">This is disabled</label>
    <p>...with more description</p>
  </div>
</div>
<div class="cfnext-form-option">
  <input type="checkbox" id="option-d" disabled>
  <label for="option-d">This is disabled, too</label>
</div>

Styleguide 3.5
*/

.cfnext-form-option > input[type="checkbox"]:disabled
  & + .cfnext-form-option__desc,
  & + label
    color: $text-dimmed

/*
Horizontal option set

Note: don't use an actual fieldset tag with this class:
http://germanforblack.com/post/73295576875/flexbox-for-forms

Markup:
<div class="cfnext-form__fieldset--horizontal">
  <legend>A few options</legend>
  <div class="cfnext-form-option">
    <input type="checkbox" id="option-a">
    <label for="option-a">Check this</label>
  </div>
  <div class="cfnext-form-option">
    <input type="checkbox" id="option-b">
    <label for="option-b">Select me</label>
  </div>
  <div class="cfnext-form-option">
    <input type="checkbox" id="option-c">
    <label for="option-c">Or me</label>
  </div>
</div>

Styleguide 3.6

*/

.cfnext-form__fieldset--horizontal
  $cfnext-form__fieldset()
  display: flex
  flex-wrap: wrap

  .cfnext-form-option
    margin-right: $rhythm(2)
  .cfnext-form-option:last-child
    margin-right: 0
