$gray-lightest = #F5F5F5
$gray-lighter = #EBEBEB
$gray-light = #DEDEDE
$gray = #9B9B9B
$gray-medium-light = #8B8B8B
$gray-medium = #7F7F7F
$gray-dark = #545454
$gray-darkest = #2D2F31
$metallic-gray = #969FA6
$metallic-gray-blueish = #768FAC
$metallic-gray-dark = #333A42
$gray-gradient-from = #F6F8F9
$gray-gradient-to   = #EDEFF4
$blue-lightest = #98C4EF
$blue-light = #4A90E2
$blue = #3e97d6
$blue-dark = #2F5B85
$blue-link = #1683d0
$blue-dark-link = #0C2C52
$blue-gradient-from = #68A9E8
$blue-gradient-to = #4183DE
$orange = #f2602e
$red = #DF3537
$red-dark = #6F020B
$red-gradient-from = #FB6974
$red-gradient-to = #BF171B
$red-light = #FDA9AF
$red-mexican = #964047
$green = #33ca6c
$gold = #e6ae17
$secondary-bg = #D4D4D4
$secondary-border = #EAF1FE
$secondary-gradient-from = #F6F9FE
$secondary-gradient-to = #DEE8FF
$secondary-shadow = #F7FAFD
