/*
Usage

Adds an `:after` pseude element that displays a css spinner
~~~stylus
$color = black  // default
$diameter = 14px  // default

.with-a-spinner
  +$spinner-base()
    // custom styles

.with-a-spinner.x--active
  +$spinner-active($color, $diameter)
    // custom styles, e.g. margin
~~~
*/


@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


$spinner-base()
  &:after
    content: ''
    opacity: 0
    border: 0
    width: 0

    position: relative
    top: -1px
    vertical-align: middle

    transition: width .2s linear,
                margin .2s linear
    {block}

$spinner-active($color = black, $diameter = $base-line-height - 4px)
  &:after
    transition: width .2s linear,
                margin .2s linear,
                opacity .5s ease-in
    opacity: 1

    width: $diameter - 4px
    height: $diameter - 4px
    animation: fa-spin 2s infinite linear
    border-radius: 50%
    border-bottom: 2px solid $color
    border-left: 2px solid $color
    border-top: 2px solid transparentify(lighten($color, 60%), 60%)
    border-right: 2px solid transparentify(lighten($color, 60%), 60%)
    {block}

