@require './colors.styl'

$base-font-size = 14px
$base-line-height = 18px
$small-font-size = 13px
$link-color = #1683d0
$link-hover-color = #0C2C52

/*
Typography

Styleguide 1.0
*/
@font-face{
  font-family: "Avenir Next W01";
  src: url("https://static.contentful.com/app/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
       url("https://static.contentful.com/app/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
  font-weight:  500;
  font-style: normal;
}

@font-face{
  font-family: "Avenir Next W01";
  src: url("https://static.contentful.com/app/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),
       url("https://static.contentful.com/app/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family:"Avenir Next W01";
  src: url("https://static.contentful.com/app/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),
       url("https://static.contentful.com/app/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

$sans-font()
  font-family: "Avenir Next W01", Helvetica, sans-serif

$rhythm(n = 1)
  return n * unit($base-line-height / $base-font-size, em);

/*
Font

Markup:
<p>Our base font size is <strong>14px</strong> and base line-height is <strong>18px</strong></p>
<p>Here's some <strong>important text</strong> and here's something we want to <em>emphasize</em>.</p>

Styleguide 1.1
*/
body
  $sans-font()
  text-rendering: optimizeLegibility
  font-size: $base-font-size
  line-height: $base-line-height
  color: #2D2F31

b, strong
  font-weight: bold

em
  font-style: italic

/*
Links

Markup:
<p>This is a <a href="#">link</a></p>

Styleguide 1.2
*/

a
  color: $colors.blue-mid
  cursor: pointer
  text-decoration: none
  &:link
    color: $link-color
    text-decoration: none
  &:hover
    color: $link-hover-color


/*
Dimmed Text

Markup:
<p>This is normal text</p>
<p class="cf-text-dimmed">This is dimmed text</p>

Styleguide 1.3
*/
$text-dimmed = hsl(0, 0%, 50%)
.cf-text-dimmed
  color: $text-dimmed
